body {
    background-image: url('https://images.wallpaperscraft.com/image/single/magician_dragon_art_131303_3840x2160.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}