
.main-game-card {
    font-size: 0.95em;
    text-decoration: none;
    color: #fff;
    transition: all 1s ease-out;
    filter: drop-shadow(10px 10px 4px #1f1f31);
}

.main-game-card:hover {
    transition: all 0.5s ease-in;
    color: darkslateblue;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #630f7b,
    0 0 102px #630f7b,
    0 0 151px #630f7b,
    0 0 180px #630f7b,
    0 0 205px #0e0e76,
    0 0 230px #0e0e76,
    0 0 255px #0e0e76;
}

.game-card {
    width: 100%;
    height: 220px;
}

.game-card-img {
    width: 100%;
    height: 80%;
}

.game-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.game-card-img:hover{
    transition: all 1.5s ease-in;
    border-radius: 0.5em;
    /*box-shadow: 0 0 7px #fff,*/
    /*0 0 10px darkslateblue,*/
    /*0 0 21px darkslateblue,*/
    /*0 0 42px darkslateblue,*/
    /*0 0 82px darkslateblue,*/
    /*0 0 92px #630f7b,*/
    /*0 0 102px #630f7b;*/
}

/*change the number below to scale to the appropriate size*/
.game-card:hover {
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 4px #1f1f31);
}

.justify-content-between {
    font-family: Arial, sans-serif; font-size: small;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 50%;
    margin-left: 10px;
}