
.main-game-card {
    font-size: 0.95em;
    text-decoration: none;
    color: #fff;
    transition: all 1s ease-out;
}

.main-game-card:hover {
    transition: all 2s ease-in;
    color: #000080;
}

.game-card {
    width: 100%;
    height: 220px;
}

.game-card-img {
    width: 100%;
    height: 80%;
}

.game-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

/*change the number below to scale to the appropriate size*/
.game-card:hover {
    transform: scale(1.05);
}

.justify-content-between {
    font-family: Arial, sans-serif; font-size: small;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 50%;
    margin-left: 10px;
}