
.btn-link-gradient{
    color: darkslateblue ;
    transition: 1s;
    text-shadow:
            0 0 7px darkslateblue,
            0 0 10px darkslateblue,
            0 0 21px #fff,
            0 0 42px #630f7b,
            0 0 82px #630f7b,
            0 0 92px #630f7b,
            0 0 102px #0e0e76,
            0 0 151px #0e0e76;
}

.btn-link-gradient:hover {
    color: darkslateblue;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff,
    0 0 180px #630f7b,
    0 0 205px #0e0e76,
    0 0 230px #0e0e76,
    0 0 255px #0e0e76;
}

/* Presentational Styles */
body {
    display: grid;
    font-family: "Press Start 2P", serif;
    font-size: 27px;
    font-weight: 700;
    height: 100vh;
    place-items: center;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}

.btn-link {
    color: #fff;
}

.link-green {
    color: green;
}

.link-green:hover {
    color: limegreen;
}

.btn-link:hover.pray {
    opacity: 100%;
}