.main-review-card {
    font-size: small;
    border: 1px solid #fff;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.2em 0.8em;
    color: #fff;
    opacity: 0.75;
    background: black;
    height: 240px;

    @media (max-width: 820px) {
        height: 280px;
    }
}

.review-card {
    width: 100%;
}

.review-card .review-description {
    text-justify: auto;
    font-family: Arial, sans-serif;
}


.rating-5 {
    color: red;
}

.rating-10 {
    color: coral;
}

.rating-15 {
    color: limegreen;
}

.rating-19 {
    color: forestgreen;
}

.rating-20 {
    color: green;
}