
.sort-filter {
    font-size: 1.1em;
}

.sort-filter i {
    font-size: 1.3em;
}


.sort-filter a {
    text-decoration: none;
    color: #FFF;
}


.sort-filter a:hover {
    text-decoration: none;
    color: var(--bs-primary);
}